.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color:rgb(213, 125, 125,0.3);
}

.horizontal-flex {
    display:flex;
    flex-direction: row;
}

.results_container {
    /* background-color: rgb(213, 125, 125,0.3); */
    margin-top: auto;
    display: flex;
    flex-direction: column; /* Items start from the bottom and go up */
    justify-content: flex-start;      /* Ensure they sit at the bottom of the container */
    align-items: center;          /* Center items horizontally, adjust as needed */
}


.search_button_container {
    display: flex;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 0vh;
}