.completionContainer {
    margin-top: 5vh;
    max-width: 80vw;
    display: flex;
}

.LLMResponse {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background: #fff;
    padding: 1rem;
    max-height: 10vh;
    overflow-y: auto;
}


