.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.searchBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
}

.button {
    width: 150px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}


.completionContainer {
    margin-top: 40px;
    /* Add space between the search bar and the completion result */
    width: 100%;
    max-width: 600px;
}